/* 📁 src/user/pages/HomePage.css */

.home-page {
  min-height: 100vh;
  background-color: white;
}

.home-page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: -80px;
  position: relative;
  z-index: 10;
}

.home-page-recommend {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px 16px 16px;
  margin-top: -8px;
}
